/* Constants */

:root {
    --min-width-1200: 1200px;
    --min-width-992: 992px;
    --min-width-768: 768px;
    --min-width-480: 480px;

}
/* Reset default styles */
body, html {
    margin: 0;
    padding: 0;
    /* height: 100%; */
}
:after,:before {
    box-sizing: inherit;
}
/* Styles */
.app {
    background-image: url(../assets/images/background-1024.jpg);
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.settings {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #2980b9;
    background-color: #7c95a3;
    opacity: 0.9;
    border-radius: 25px;
    margin: 20px;
    width: 1000px;
}
.burger-btn {
    display: none;
    position: absolute;
    top: 20px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.burger-btn span {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color:black;
    left: 35px;
    transition: transform .3s, opacity .3s, background-color .3s;
}
.burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}
.burger-btn span:nth-child(3) {
 transform: translateY(10px);
}
.settings.active .burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}
.settings.active .burger-btn span:nth-child(2) {
 opacity: 0;
}
.settings.active .burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}
.settings div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.dropdown {
    position: relative;
     }
.dropdown-toggle {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    width: 100%;
    text-wrap: nowrap;
  }
.dropdown-toggle:hover {
    background-color: #2980b9;
}
.dropdown-menu  {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    top: 48px;
    width: 60%;
  }
.dropdown-menu.hide{
    display: none;
}
.dropdown-menu .dropdown-item {
    cursor: pointer;  
}
.dropdown-menu .dropdown-item:hover {
    background-color: #f1f1f1;
    border-radius: 4px;
  }
.dropdown-item {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0 40px; 
}
.soundSwitcher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 38px;
}
.switch__input {
    height: 0;
    width: 0;
    opacity: 0;
}
.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 38px;
    background-color:#ccc; 
}
.switch__slider::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color:#2980b9;
}
.switch__input:focus + .switch__slider {
    box-shadow: 0 0 1px  #2980b9;
}
.switch__input:checked + .switch__slider {
    background-color: #2980b9;
}
.switch__input:checked + .switch__slider::before {
    transform: translateX(20px);
    background-color:white;
}
.result-panel {
    border: 1px solid black;
    padding: 3px;
    width: 250px;
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4c9cd1;
    border-radius: 5px;
}
.content {
    height: 100rem;
    /* margin-top: 300px; */
}
.grid td {
    border: 1px solid black;
    padding: 2px;
    height: 55px;
    width: 55px;
}
.grid img {
    padding: 1px;
}
.start-btn {
    display: block;
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserat";
    cursor: pointer;
    margin-top: 50px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    color: #3498db;
    z-index: 1;
}
.start-btn.hide {
    display: none;
}
.start-btn:hover {
    color:#fff;
}
.start-btn::before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%; 
}
.start-btn:hover::before {
    height: 180%;
}



/* MEDIA QUERIES */


@media (max-width: 1200px) {
    .app {
        position: relative;
    }
    .settings {
        position: absolute;
        flex-direction: column;
        padding: 100px 20px 20px 20px;
        width: 200px;
        top: -800px;
        height: 600px;
        transition: transform .3s;
    }
    .settings.active {
        transform: translateY(800px);
    }
    .settings.active .burger-btn{
        top: 10px;
    } 
    .burger-btn {
        display: block;
        z-index: 1; 
        top: 820px;
    }
    .result-panel {
        margin-top: 100px;
    } 
    .content {
        margin-top: 150px;
    }
}   
@media (max-width: 800px) {
    .settings div{
        width: 30vw;
    } 
} 
@media (max-width: 1000px) {
    .burger-btn {
        display: block;
        z-index: 1; 
        top: 820px;
    }
}
@media (max-width: 800px) {
    .dropdown-menu{
        top: 0;
        position: inherit;
    } 
} 
@media (max-width: 1000px) {
   
}
@media (max-width: 800px) {
    .result-panel {
        background-color: green;
    } 
}