/* Constants */

:root {
    --max-width-1200: 1200px;
    --max-width-1000: 1000px;
    --max-width-768: 768px;
    --max-width-480: 480px;

}
body, html {
    margin: 0;
    padding: 0;
    /* height: 100%; */
}
.app {
    background-image: url(../assets/images/background-1024.jpg);
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}


.settings {
    display: flex;
    gap: 10px;
    border: 1px solid #2980b9;
    background-color: #7c95a3;
    opacity: 0.9;
    border-radius: 25px;
    margin: 20px;
}
.settings div{
    text-align: center;
    padding: 10px;
}

.dropdown {
    display: flex;
    justify-content: center;
     }
.dropdown-toggle {
    position: relative;
    
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
  }

.dropdown-toggle:hover {
    background-color: #2980b9;
}
.dropdown-menu  {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    /* width: 100%; */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    margin-top: 50px;
    padding: 0 20px;
  }
.dropdown-menu.hide{
    display: none;
}
.dropdown-menu .dropdown-item {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* padding: 12px 16px; */
    cursor: pointer;
    
}
.dropdown-menu .dropdown-item:hover {
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  
.dropdown-item {
    display: flex;
    justify-content: center;
    align-items:center;
}

.soundSwitcher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 38px;

    /* background-color: red; */
}
.switch__input {
    height: 0;
    width: 0;
    opacity: 0;
}
.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 38px;
    background-color:#ccc;
    
}
.switch__slider::before {
    content: "";
    position: absolute;
    /* cursor: pointer; */
    top: 6px;
    left: 6px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color:#2980b9;
}
.switch__input:focus + .switch__slider {
    box-shadow: 0 0 1px  #2980b9;
}
.switch__input:checked + .switch__slider {
    background-color: #2980b9;
}
.switch__input:checked + .switch__slider::before {
    transform: translateX(20px);
    background-color:white;

}


.result-panel {
    border: 1px solid black;
    padding: 3px;
}
.content {
    
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    margin-top: 20px;
    /* height: 100%; */
    /* min-height: 1920px; */
}
.grid td {
    border: 1px solid black;
    padding: 2px;
    height: 55px;
    width: 55px;
}
.grid img {
    padding: 1px;
}